<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Login</title>
</head>
<body>
<form method="POST" action="j_security_check">
<fieldset>
	<legend>Login</legend>
	<label> Username :<input type="text" name="j_username"></label>
	<label> Password :<input type="password" name="j_password"></label>
	<input type="submit" value="Log In">
</fieldset>
</form>
</body>
</html>