<configuration>
  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="FILE">
    <File>logs/brzy.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>logs/brzy.%d{yyyy-MM-dd}.log</FileNamePattern>
    </rollingPolicy>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</Pattern>
    </layout>
  </appender>
  <logger level="TRACE" name="org.brzy"></logger>
  <root level="INFO">
    <appender-ref ref="FILE"></appender-ref>
  </root>
</configuration>