package ${packageName}

import org.brzy.config.AppConfig
import org.brzy.application.WebApp
import org.brzy.interceptor.ProxyFactory._
import org.brzy.persistence.squeryl.SquerylInterceptor

/**
 * Application Class
 */
class Application(config:AppConfig) extends WebApp(config){

  val squerylPlugin = config.plugins.find(p => p.name == "brzy-squeryl").get
  val interceptor = new SquerylInterceptor(
      squerylPlugin.properties.get("driver_class"),
      squerylPlugin.properties.get("url"),
      squerylPlugin.properties.get("user_name"),
      squerylPlugin.properties.get("password"))

  override val services = Array()
  override val controllers = Array(
    make(classOf[HomeController],interceptor)
  )
}