package ${packageName}

import org.brzy.config.AppConfig
import org.brzy.application.WebApp
import org.brzy.interceptor.ProxyFactory._
import org.brzy.persistence.squeryl.SquerylInterceptor

/**
 * Application Class
 */
class Application(config:AppConfig) extends WebApp(config){

  override val services = Array()

  override val controllers = Array(
    make(classOf[HomeController],new SquerylInterceptor("","","","")) 
  )
}