<assembly xmlns="http://maven.apache.org/plugins/maven-assembly-plugin/assembly/1.1.0" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://maven.apache.org/plugins/maven-assembly-plugin/assembly/1.1.0 http://maven.apache.org/xsd/assembly-1.1.0.xsd">
	<id>module</id>
	<formats>
		<format>jar</format>
	</formats>
	<includeBaseDirectory>false</includeBaseDirectory>
	<fileSets>
		<fileSet>
			<directory>src/main/resources</directory>
			<outputDirectory>resources</outputDirectory>
			<excludes>
				<exclude>*.yml</exclude>
			</excludes>
		</fileSet>
		<fileSet>
			<directory>src/main/scripts</directory>
			<outputDirectory>scripts</outputDirectory>
		</fileSet>
		<fileSet>
			<directory>src/main/templates</directory>
			<outputDirectory>templates</outputDirectory>
		</fileSet>
		<fileSet>
      <includes>
        <include>${project.basedir}/README*</include>
        <include>${project.basedir}/LICENSE*</include>
        <include>${project.basedir}/NOTICE*</include>
      </includes>
    </fileSet>
    <fileSet>
      <directory>${project.build.directory}</directory>
      <includes>
        <include>*.jar</include>
      </includes>
				<excludes>
					<exclude>*-module.jar</exclude>
				</excludes>
			<outputDirectory>/</outputDirectory>
    </fileSet>
	</fileSets>
	<files>
		<file>
			<source>src/main/resources/brzy-module.b.yml</source>
			<outputDirectory>/</outputDirectory>
		</file>
		<file>
			<source>src/main/resources/fab-plugin.f.yml</source>
			<outputDirectory>/</outputDirectory>
		</file>
	</files>
</assembly>