body{padding:10px;background:white url(../images/bg4.jpg) 0 0 repeat-x}
a{color:#fd9c12;text-decoration:underline;}
a:visited{color:#b17816;}
a:hover{text-decoration:none;}
a:focus,a:active{background:yellow;}
section,article,header,footer,nav,aside,hgroup{ display: block; }
#wrapperbdr{padding:0;margin:0 auto;width:990px;border-right:1px solid #aaa;border-bottom:1px solid #aaa;-moz-border-radius: 10px;-webkit-border-radius: 10px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .2);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .2);
	box-shadow: 0 1px 3px rgba(0,0,0, .2);
	}
#wrapper{padding:10px;margin:0 auto;width:970px;background:#ddd;-moz-border-radius: 10px;-webkit-border-radius: 10px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .2);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .2);
	box-shadow: 0 1px 3px rgba(0,0,0, .2);
	border:1px solid #ccc;
}
#wrapper2{padding:10px;margin:0 auto;width:950px;background:white;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .2);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .2);
	box-shadow: 0 1px 3px rgba(0,0,0, .2);
	}
.container{background:white;}
.bot-border{border-bottom:1px solid #eee;}
.top-border{border-top:1px solid #eee;}
footer{color:#ccc;}
.articleimg{float:left;padding: 0 16px 16px 0;}


nav{background:#e5e5e5; -moz-border-radius: 4px;-webkit-border-radius: 4px;}
nav ul{margin:0;padding:2px 0 0 29px; }
nav ul li{display:inline;float:left;padding:4px 10px;font-weight:bold;background:none;}
nav ul li a{float:left;text-decoration:none;color:#595959;}
nav ul li a span{float:left;padding:11px 17px 7px; }
nav ul li a:hover,
nav ul li a:focus,
nav ul li.active a{color:black;background:#fdfdfd}
nav ul li a:hover span,
nav ul li a:focus span,
nav ul li.active a span{}