<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-4relative [%thread] %-5level %class - %msg%n</pattern>
    </encoder>
  </appender>
  <logger name="org.brzy" level="TRACE"/>
  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>