<% import org.brzy.view.ViewFunctions._  %>
<% import org.brzy.d3.Person %>
<% implicit val req = request %>
<% val person = request.getAttribute("person").asInstanceOf[Person] %>
<% attributes("layout") = "/layouts/default.ssp" %>
<dl>
	<dt>id</dt>
	<dd>${person.id}</dd>
	<dt>first name</dt>
	<dd>${person.firstName}</dd>
	<dt>last name</dt>
	<dd>${person.lastName}</dd>
</dl>